.grve-metabox.form-table th {
    font-weight: normal;
}
	
.grve-metabox th {
	width: 25%;
}

.grve-metabox .grve-meta-text,
.grve-metabox textarea {
	width: 100%;
}

.grve-metabox select {
    display: inline-block;
    margin: 0;
    min-width: 200px;
}

.grve-metabox label span {
    color: #999999;
    display: block;
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
    margin: 0;
}
.grve-post-selector-select2 {
	display: inline-block;
	min-width: 200px;
}

@media screen and (max-width: 870px) {
	.grve-metabox th {
		width: 100%;
	}
}