/*
 Theme Name:   Movedo
 Theme URI:    http://themeforest.net/user/greatives
 Description:  Movedo is a creative and multi-purpose WP theme masterfully handcrafted for nothing less than awesomeness. It literally sets in motion a series of new features, such as ultra-dynamics parallax, radical safe button, super-crispy moldable typography, and immaculate future-proof device style to break free from the tyranny of sameness.
 Version:      3.2
 Author:       Greatives Team
 Author URI:   http://greatives.eu
 Text Domain:  movedo
 Domain Path: /languages/
 Tags:         microformats, post-formats
 License:      Themeforest Split Licence
 License URI:
*/

.grve-image-wrapper{
	
	display:none;
}
.grve-logo a {
    height: 40px !important;
}
.grve-wrapper-icon i {
    display: none !important;
}