/*	Reset  */
h1, h2, h3, h4, h5, h6,
blockquote, pre, cite, code,
tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*	Links  */
a {
	text-decoration: none;
	outline: 0;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
a:hover,
a:focus,
a:visited {
	text-decoration: none;
}

/*	Paragraph  */
p {
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

p > embed,
p > iframe,
p > object,
span > embed,
span > iframe,
span > object {
	margin-bottom: 0;
}

p {
    position: relative;
    margin-bottom: 30px;
}

/*	Tables  */

table {
	width: 100%;
	margin-bottom: 30px;
	border: 1px solid;
	border-collapse: collapse;
	cursor: default;
}

.mce-item-table,
.mce-item-table td,
.mce-item-table th,
.mce-item-table caption {
	border: 1px solid;
}

tr {
	-webkit-transition: background-color 0.2s ease;
	transition: background-color 0.2s ease;
	border-bottom: 1px solid;
}

td,
th {
	padding: 10px 20px 10px 20px;
	line-height: 1.5;
	border-right: 1px solid;
	text-align: center;
}

th:last-child {
	border: none;
}

/*	Headings  */

h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.6em;
}
h3 {
    font-size: 1.4em;
}
h4 {
    font-size: 1.2em;
}
h5 {
    font-size: 1.1em;
}
h6 {
    font-size: 1em;
}

h1,h2,h3,h4,h5,h6,
.grve-h1,
.grve-h2,
.grve-h3,
.grve-h4,
.grve-h5,
.grve-h6 {
	margin-bottom: 18px;
}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
.grve-h1:last-child,
.grve-h2:last-child,
.grve-h3:last-child,
.grve-h4:last-child,
.grve-h5:last-child,
.grve-h6:last-child,
.grve-subtitle:last-child,
.grve-subtitle-text:last-child {
	margin-bottom: 0px;
}

/* More Link*/

.more-link {
	display: block;
	margin-top: 10px;
}

/*	List  */

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

ul,
ol {
	margin-bottom: 28px;
	margin-left:20px;
	line-height: 30px;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left:20px;
}

li {
	margin-bottom: 0;
}


/* Other elements */

cite,
em,
var,
address,
dfn {
	font-style: italic;
}

address {
	margin-bottom: 30px;
}

dl {
	margin-bottom: 30px;
}
dt {
	font-family: inherit;
}

dd {
	padding-left: 15px;
}

code,
kbd,
tt,
var,
samp,
pre {
	font-family: "Courier New", Courier, monospace;
	-webkit-hyphens: none;
	-moz-hyphens:    none;
	-ms-hyphens:     none;
	hyphens:         none;
}

pre {
	display: block;
	clear: both;
	overflow: auto;
	padding: 20px;
	font-size: 14px;
	line-height: 24px;
	white-space: pre;
	overflow-x: auto;
	height: auto;
	margin: 30px 0;
	color: #525455;
	background-color: #EDF0F3;
	background-color: rgba(225,227,229,0.25);
}

sup{
	vertical-align: super;
	font-size: smaller;
}

sub{
	vertical-align: sub;
	font-size: smaller;
}

strong {
	font-weight: bold;
}

cite,
code {
	letter-spacing: 0.300em;
}
